  body {
    background-color: black;
    color: rgb(0, 0, 0);
    text-align: center;
  }

  h1 {
    font-size: 48px;
    margin-top: 250px;
    text-align: center;
    color: rgb(255, 255, 255)
    
  }

  p {
    font-size: 24px;
    margin-top: 33px;
    color: rgba(255, 255, 255, 0.798);
    line-height: 1.4em;

  }

  .arrow {
    position: fixed;
    width: 130px;
    top: 46%;
    right: 18%;
    transform: translate(0, -50%);
    color: rgb(255, 255, 255);
  }

  p {
    font-size: 24px;
    margin-top: 33px;
    color: rgba(255, 255, 255, 0.798);
    line-height: 1.4em;
    right: 18%;

  }

  .texte-droite {
    position: fixed;
    width: 200px;
    top: 30%;
    right: 10%;
    color: rgb(255, 255, 255);
  }